# loggings
log/

# classifier models
action_features
action_model
type_model
model*
features*

# python
*.pyc

# lib
liblinear.so*
liblinear-*

# audio
weiss/audio

# misc
.DS_Store

# config.ini files
*.ini

# intellij
.idea
*.iml

# rest framework static files
weiss/static/rest_framework
