body {
    padding: 70px;
}

table, th, td {
    border: 1px solid black;
}

table .register {
    border-style: none !important;
}

td {
    text-align: center;
}

.warning {
    color: red;
}

.spaced {
    padding: 20px;
}

button .btn {
    display: block;
    margin: 0 auto;
}

.dialogbox {
    max-width: 70%;
} 

.padding {
    padding-bottom: 200px
}
