<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Weiss Dev Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A webapp to allow interactions with project data.">
    <meta name="author" content="MITS Crew ;)">
    <!--Make calls to CDN hosting bootstrap and jQuery files-->
    <!-- Minified jQuery and migrator-->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'weiss/css/style.css' %}" />
  </head>

  <body onLoad="window.scrollTo(0,document.body.scrollHeight);">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Weiss</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
          <ul class="nav navbar-nav">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/evaluate">Evaluation</a></li>
            <li><a href="/actionboard">Actions</a></li>
            <li><a href="/logout">logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

    {% block content %}
    {% endblock %}
    
    {% block rep %}
    {% endblock %}

    {% block errors %}
    {% endblock %}

  </body>
</html>
